*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: url(../images/small.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.box{

}
.list li a {
  text-decoration: none;
}
.list li{
  list-style: none;
}
nav{
  text-align: right;
  padding: 10px 20px;
}
