*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body{
  background-image: url(../images/small.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.box{

}
.list li a {
  text-decoration: none;
  padding:  10px 10px 10px 10px;
}
.list li{
  list-style: none;
  display: inline-block;
  line-height: 70px;
}
nav{
  text-align: right;
  height: 70px;
  display:block;
}
